
body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-color: #313338;
}

.calculator {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
}

button {
  width: 25%;
  padding: 20px;
  font-size: 1.5rem;
  color: white;
  background-color: #3c3c3c;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}
button:hover {
  background-color: #323232;
}

#btnEqual {
  background-color: #40bdff;
  color: #0f2839;
}
#btnEqual:hover {
  background-color: #3cace8b0;
}

button:nth-child(4n) {
  background-color: #323232;
  color: white;
}
button:nth-child(4n):hover {
  background-color: #3c3c3c;
}

.clear {
  background-color: red;
}
.clear:hover {
  background-color: #cc0000;
}

.screen {
  background-color: #202020;
  color: white;
  font-size: 2rem;
  padding: 20px;
  text-align: right;
  border: 2px solid grey;
  border-radius: 10px 10px 5px 5px;
  border-bottom: none;
}